@import '../../../styles/media.scss';

// web page

.container {
  display: flex;
  flex-direction: column;
  @include xl {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 60px;
  }
}

.mobile {
  display: flex;
  flex-wrap: wrap;
  @include xl {
    display: none;
  }
}

.web {
  display: none;
  @include xl {
    display: flex;
    flex-wrap: wrap;
  }
}

.company {
  font-size: var(--fs-medium);
  color: var(--pinky);
  font-weight: 300;
}

.webLink {
  font-size: var(--fs-normal);
  color: var(--pinky);
  font-weight: 300;
}

.webLink:hover,
.webLink:focus,
.cawebLinkrd:active {
  text-decoration: underline;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: var(--fs-small);
  color: var(--pinky);
  font-weight: 300;
}

.textButtonWraper {
  display: flex;
}

.importentInfo {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: var(--fs-medium);
  color: var(--pinky);
  font-weight: 200;
}

.secondColumn {
  margin: 0;
  @include xl {
    margin: 20px 30px;
  }
}

.pill {
  display: inline-block;
}

.pillButton {
  margin-top: 30px;
  margin-left: 10px;
  font-weight: 200;
}

.img {
  margin: 20px 0;
  max-width: 100%;
}

// Mobile Buttons: next, back, mail

.buttonsContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include xl {
    display: none;
  }
}

.buttonNavigation {
  font-weight: 200;
}

.buttonMailWraper {
  margin-top: 20px;
  text-align: center;
  @include xl {
    display: none;
  }
}
