.bigButton {
  padding: 14px 30px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: var(--white);
  font-size: var(--fs-small);
  font-weight: 800;
  background-color: transparent;
  border: 1px solid var(--lightBrawn);
  border-radius: 30px;
}

.smallButton {
  margin-right: 8px;
  margin-bottom: 12px;
  padding-right: 17px;
  padding-left: 17px;
  display: inline-block;
  height: 30px;
  text-align: center;
  white-space: nowrap;
  color: var(--white);
  font-size: var(--fs-small);
  font-weight: 800;
  background-color: transparent;
  border: 1px solid var(--lightBrawn);
  border-radius: 30px;
}
