@import '../../styles/media.scss';

.container {
  position: sticky;
  left: 0;
  top: 0;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: var(--mintpink);
}

.logo {
  margin-bottom: 5vh;
  text-align: center;
  font-size: var(--fs-small);
  font-weight: 700;
}

.icons {
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.icon {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialTable {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 20px);
  grid-gap: 2rem;
}
