@import '../../styles/media.scss';

.container {
  display: block;
  @include xl {
    display: none;
  }
}

.titleWraper {
  display: flex;
  flex-direction: row;
}

.buttonIconCard {
  margin-right: 30px;
  display: inline-block;
  height: 45px;
  width: 45px;
}

.companyName {
  display: inline-block;
  font-size: var(--fs-medium);
  font-weight: 600;
  color: var(--white);
}

.companyNameWraper {
  padding-bottom: 10px;
}

.role {
  font-size: var(--fs-small);
  line-height: var(--lh-extra-large);
  color: var(--white);
}

.buttonWrap {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.buttonMore {
  font-weight: 200;
}

.description {
  padding-bottom: 40px;
  font-size: var(--fs-small);
  color: var(--pinky);
}
