@import '../../styles/media.scss';

.buttonsContainer {
  display: none;
  @include md {
    display: flex;
    flex-direction: column;
  }
}

.buttonContainer {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  grid-gap: 5px;
}

.buttonIcon {
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 7px 9px rgba(0, 0, 0, 0.25);
  @include xl {
    margin-top: 10px;
  }
}

.buttonIconCard {
  composes: buttonIcon;
  display: flex;
  align-self: center;
}

.card {
  margin-bottom: 40px;
  padding: 12px 20px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--pinky);
  transition: color 0.15s ease, border-color 0.15s ease;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 7px 9px rgba(0, 0, 0, 0.25);
}

.card:hover {
  border: 1px solid #eed4d4;
  color: #eed4d4;
  border-color: #eed4d4;
}

.card:focus,
.card:active {
  border: 1px solid #9d729c;
  color: #9d729c;
  border-color: #9d729c;
}

.card h3 {
  font-size: var(--fs-medium);
  font-weight: 600;
  color: var(--white);
}

.card p {
  font-size: var(--fs-small);
  line-height: var(--lh-extra-large);
  color: var(--white);
}

.card h3 span {
  font-weight: 400;
  color: var(--pinky);
}

.pills {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.description {
  padding-bottom: 40px;
  font-size: var(--fs-small);
  color: var(--pinky);
}
