// Footer

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  font-size: var(--fs-normal);
  color: var(--pinky);
  border-top: 1px solid #eaeaea;
}

.footer img {
  margin-left: 0.5rem;
}
