.container {
  margin-right: 8px;
  margin-bottom: 12px;
  padding-right: 17px;
  padding-left: 17px;
  height: 30px;
  text-align: center;
  white-space: nowrap;
  color: var(--white);
  font-size: var(--fs-small);
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--lightBrawn);
  border-radius: 30px;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(12px 1px 24px rgba(0, 0, 0, 0.25));
}
