:root {
  --darkblue: #2e3640;
  --brown: #7e7c7c;
  --white: #ffffff;
  --lightBrawn: #756b6b;
  --white: #c4c4c4;
  --pinky: #eed4d4;
}

// .lightGrey {
//   color: var(--grey);
// }

// $grey: #2b2c2d;

// .greyBackground {
//   background-color: $grey;
// }

// --pink: #ffedec;
//   --blue: #B2FFFF;
//   --green: #CFFFE5;
