// Top skills

.topskillsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skillsContainer {
  display: flex;
  align-items: center;
}

.titleSkills {
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--white);
}

.skillsWrap {
  display: flex;
  max-width: 50vw;
  flex-wrap: wrap;
}

.buttonMail {
  display: flex;
  align-self: flex-start;
}

// Hero Container

.heroContainer {
  padding: 120px 120px 130px 240px;
}

.title {
  margin-bottom: 20px;
  font-size: var(--fs-medium);
  line-height: 34px;
  font-weight: 800;
  color: var(--white);
}

.title,
.subtitle {
  text-align: center;
}

.subtitle {
  margin-bottom: 60px;
  font-size: var(--fs-large);
  line-height: 50px;
  font-weight: 200;
  color: var(--pinky);
}

.content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 30px;
}

.description {
  padding-bottom: 10px;
  font-size: var(--fs-small);
  color: var(--pinky);
}

.socialMedia {
  display: flex;
}

.buttonIcon {
  margin-top: 10px;
  margin-right: 20px;
}

// Projects Container

.projectsContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 30px;
}

.card {
  margin-bottom: 40px;
  padding: 12px 20px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--pinky);
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25), 5px 4px 30px rgba(0, 0, 0, 0.25);
}

.card:hover,
.card:focus,
.card:active {
  // color: #0070f3;
  // border-color: #0070f3;
  border: 1px solid #9d729c;
  color: #9d729c;
  border-color: #9d729c;
}

.card h3 {
  font-size: var(--fs-medium);
  font-weight: 600;
  color: var(--white);
}

.card p {
  font-size: var(--fs-small);
  line-height: var(--lh-extra-large);
  color: var(--white);
}

.card h3 span {
  font-weight: 400;
  color: var(--pinky);
}

.pills {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
