@import '../../styles/media.scss';

.container {
  padding: 30px 20px;
  background-color: var(--darkblue);
  @include md {
    padding: 30px 50px;
  }
  @include xl {
    padding: 30px 70px;
    background-color: var(--darkblue);
  }
}

// Top skills

.topskillsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skillsContainer {
  display: flex;
  align-items: center;
}

.titleSkills {
  display: none;
  @include xl {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--white);
  }
}

.skillsWrap {
  display: flex;
  flex-wrap: wrap;
  @include xl {
    max-width: 50vw;
  }
}

// Contact Button

.buttonMail {
  display: none;
  @include xl {
    display: flex;
    align-self: flex-start;
  }
}

.buttonMailWraper {
  text-align: center;
}

.buttonMailMobile {
  margin: 50px auto;
  @include xl {
    display: none;
  }
}

// Hero Container Mobile

.wrapperIDmobile {
  display: block;
  @include xl {
    display: none;
  }
}

.wrapperIDmobile h1 {
  margin-bottom: 10px;
}

.mobiletitle {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fs-normal);
  font-weight: 200;
  color: var(--pinky);
}

// Hero Container

.heroContainer {
  padding: 30px 0;
  @include xl {
    padding: 120px 120px 130px 240px;
  }
}

.wrapperIDWeb {
  display: none;
  @include xl {
    display: block;
  }
}

.title {
  margin-bottom: 20px;
  font-size: var(--fs-medium);
  line-height: 34px;
  font-weight: 800;
  color: var(--white);
}

.title,
.subtitle {
  text-align: center;
}

.subtitle {
  margin-bottom: 60px;
  font-size: var(--fs-large);
  line-height: 50px;
  font-weight: 200;
  color: var(--pinky);
}

// Picture section

.content {
  display: block;
  @include xl {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 30px;
  }
}

.heroImage {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25), 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.description {
  padding-bottom: 10px;
  font-size: var(--fs-small);
  color: var(--pinky);
}

.buttonIcon {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
  @include xl {
    margin-top: 10px;
  }
}

// Social Media

.socialMediaWeb {
  display: none;
  @include xl {
    display: flex;
  }
}

.socialMediaMobile {
  margin-top: 10px;
  display: flex;

  @include xl {
    display: none;
  }
}

// Projects Container

.projectContainerWeb {
  display: block;
  @include xl {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 60px;
  }
}

.webMenuWraper {
  display: none;
  @include xl {
    display: block;
  }
}
